* {
  margin: 0;
  padding: 0;
}

#logo {
  width: 30px;
  height: auto;
  margin-left: 7px;
  align-items: center;
  justify-content: center;
  display: flex;
}

#home-head {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 25px;
}

#home-map {
  height: 500px;
  width: 950px;
  display: block;
  margin: 0 auto;
  margin-bottom: 66px;
}

footer {
  background-color: #080f0f;
  color: #eff2c0;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}

#footer-link {
  display: inline-block;
}

#tiktok {
  width: 30px;
  height: auto;
  display: flex;
}

#home-desc {
  display: flex;
  color: #a52422;
  text-align: center;
  align-items: center;
  line-height: 38px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
}

#pro-pic {
  margin-right: 10px;
  vertical-align: center;
  width: 150px;
  margin-top: 33px;
  margin-bottom: 33px;
}

#globe {
  margin-left: 10px;
  vertical-align: center;
  width: 222px;
  margin-top: 33px;
  margin-bottom: 33px;
}

#about-pics {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #bea57d;
}

#about-pics img {
  width: 250px;
  height: auto;
  display: block;
  margin-right: 10px;
}

#mylife-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 225px;
  background-color: #bea57d;
  margin: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#mylife-desc img {
  display: flex;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

#fishing-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 225px;
  background-color: #bea57d;
  margin: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#fishing-desc img {
  display: flex;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

#traveling-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 225px;
  background-color: #bea57d;
  margin: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#traveling-desc img {
  display: flex;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

#sports-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 225px;
  background-color: #bea57d;
  margin: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#sports-desc img {
  display: flex;
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}

#destin-desc {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #bea57d;
  margin: 25px;
  margin-bottom: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#westlake {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #bea57d;
}

#westlake img {
  width: 300px;
  height: 400px;
  display: block;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 25px;
}

#travel {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

#travel img {
  width: 500px;
  height: 700px;
  display: block;
  margin-right: 25px;
  margin-bottom: 55px;
}

#travel-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
  margin-bottom: 100px;
}

#zion {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #bea57d;
}

#zion img {
  width: 350px;
  height: 325px;
  display: block;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 25px;
}

#zion-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
  margin-bottom: 100px;
}

#glacier {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #bea57d;
}

#glacier img {
  width: 350px;
  height: 325px;
  display: block;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 25px;
}

#glacier-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#review1 {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #bea57d;
}

#review1 img {
  width: 350px;
  height: 325px;
  display: block;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 25px;
}

#review-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
}

#reviews {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

#reviews img {
  width: 1300px;
  height: 400px;
  display: block;
  margin-right: 25px;
  margin-bottom: 55px;
}

#pipers-stars {
  width: 300px;
  height: 100px;
  bottom: -20px;
  left: 0;
}

#pipers {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  background-color: #bea57d;
}

#pipers img {
  width: 300px;
  height: 400px;
  display: block;
  margin-right: 13px;
  margin-left: 13px;
  margin-top: 25px;
}

#pipers-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
  margin-bottom: 100px;
}

#eggs-stars {
  width: 300px;
  height: 100px;
  bottom: -20px;
  left: 0;
}

#pf-stars {
  width: 300px;
  height: 100px;
  bottom: -20px;
  left: 0;
}

#photo-desc {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 75px;
  margin-left: 75px;
  padding: 25px;
  background-color: #bea57d;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
  color: #a52422;
  margin-bottom: 100px;
}

#pd-pics {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

#pd-pics img {
  width: 400px;
  height: 600px;
  display: block;
  margin-right: 25px;
  margin-bottom: 55px;
}

#pd-pics2 {
  display: flex;
  text-align: center;
  display: flex;
  justify-content: center;
}

#pd-pics2 img {
  width: 400px;
  height: 600px;
  display: block;
  margin-right: 25px;
  margin-bottom: 55px;
}
